<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{asset('datatables.min.css')}}"/>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {{ render(controller('App\\Controller\\MenuController::formAction')) }}  
            {{ render(controller('App\\Controller\\FileStructureController::index')) }}  
            {% if datatable is defined %}
                <div id="datatable">Chargement...</div>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
    {{ encore_entry_script_tags('app') }}
    {% if datatable is defined %}
        <script type="text/javascript" src="{{asset('datatables.min.js')}}"></script>
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script>
            $(function() {
                $('#datatable').initDataTables({{ datatable_settings(datatable) }}, {
                    responsive: true,
                    searching: true,
                    processing: true,
                    dom: 'ftip'
                })
            });
        </script>
    {% endif %}
</html>
